<p>templates</p>
<button (click)="changeFlag()">change flag</button>
<br>
<div *ngIf="flag; then div1 else div2"></div>
<br>
<div *ngIf="flag; then buttons"></div>

<ng-template #div1>
  Div one
</ng-template>
<ng-template #div2>
  Div two
</ng-template>

<ng-template #buttons>
  <button class="tab-button"
          (click)="login()">{{loginText}}</button>
  <button class="tab-button"
          (click)="signUp()">{{signUpText}}</button>
</ng-template>
<br>

<ng-template #userView let-name="name" let-surname="surname">
  <span>Name: {{name}}</span>
  <br>
  <span>Second name: {{surname}}</span>
  <br>
  <button class="tab-button" (click)="clickMe()">I have my context and still can access my component context</button>
</ng-template>

<div>
  <div>
    ng-container with ngTemplateOutlet
  </div>
  <ng-container *ngTemplateOutlet="buttons"></ng-container>
</div>
<br>
<ng-container *ngTemplateOutlet="userView; context: ctx"></ng-container>
<br>
<app-template-container [headerTemplate]="buttons"></app-template-container>
<br>
<br>
<br>
<div *appMyNgIf="flag">
  <span>I will be transformed to ng-template</span>
</div>
<button (click)="inspectTemplateRef()">inspect template ref</button>
<br>
<br>
<h1>Your age:</h1>
<select>
  <ng-container *appRange="[18, 80]; let num">
    <option [value]="num">{{num}}</option>
  </ng-container>
</select>
<br>
<br>
<br>
<br>
<app-use-list></app-use-list>
<br>
<br>
<br>
<br>
<app-demo-ng-content></app-demo-ng-content>
<br>
<br>
<br>
<br>
<div>cool input demo</div>
<app-cool-input icon="envelope">
  <input auInput type="email" name="email" placeholder="Email" autocomplete="off"
         class="some-class" data-stripe="email">
</app-cool-input>
