<div>Ang9 examples</div>
<app-hello-angular-element></app-hello-angular-element>
<div id="hello"></div>
<button (click)="showAngularElement()">Display?</button>
<br/>
<br/>
<br/>
<nav>
  <a [routerLink]="['graphql']">graphql</a>
  <br>
  <a [routerLink]="['templates']">templates: ng-template, ng-container, ngTemplateOutlet</a>
  <br>
  <a [routerLink]="['providers']">providers</a>
  <br>
  <a [routerLink]="['rxjs-examples']">rxjs-examples</a>
  <br>
  <a [routerLink]="['resolver-guard']">resolver-guard</a>
  <br>
  <a [routerLink]="['next-example']">next-example</a>
  <br>
</nav>
<router-outlet></router-outlet>
