<p>observable-vs-promise</p>
<button (click)="createPromise()">CreatePromise</button>
<button (click)="thenPromise()">ThenPromise</button>
<br/>
<br/>
<button (click)="createObservable()">CreateObservable</button>
<button (click)="subscribeObservable()">SubscribeObservable</button>
<button (click)="cancelSubscription()">CancelSubscription</button>
<button (click)="toPromiseCall()">toPromiseCall</button>
<br>
<br>
<button (click)="handlingErrorsPromiseVsObservable()">handlingErrorsPromiseVsObservable</button>
